*.class
*.log
*/project/*

# sbt specific
dist/*
target/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# eclipse
.metadata/*
*/.cache
*/.project
*/.settings/*
*/.worksheet/*
*/bin/*

